body{
    margin-top: 30px;
    background-image: url('/vote/images/body.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

pre{
    line-height: 1.25;
    white-space: pre;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
    margin: 15px 0;
    border: 0;
    padding: 0;
    display: block;
    margin-left: 400px;
    margin-top: 150px;

}

